body {
    font-family: 'Courier New', Courier, monospace;
    color:lightgreen;
    background-color:dodgerblue;
    background: cyan;
}
h1 {
    font-family: cursive,Verdana, Tahoma, sans-serif ;
    color:Black;
}
div{
    background-color:darkolivegreen ;
    width:auto;
    height:100%;
    min-width: 90%;

}
.form-group {
    background-color: darkslategray;
}
.form-group {
    background-color: darkslategray;
}
.row {
    background-color: darkslategray;
}
.input-group {
    background-color: darkslategray;
}
.range {
    background-color: black;
}


#results {
         display:none;
       }
